  
<div class="container">
  <div class=" text-center">
    <h2>Tick and Load</h2>
  </div>
  <br>Count Down<br>
   <div class="row">    
       <div class="col-sm-4">
        <input type="Text"  PlaceHolder="00:00:00" [(ngModel)]='hhmmss' (keyup)="validateHhMm()"/>
       </div><div class="col-sm-4" *ngIf='!isValid'>
        <span class="text-danger bg-info" >Please enter in the form of "hh:mm:ss" </span>
      </div>
      <div class="col-sm-4">
          <input type="button"  class="btn btn-primary"  [attr.disabled]="!isValid?'':null" (click)='StartProgressBar()'value="Start"/>
     
      </div>
    </div><br/>
      <div class=" progress " style="background-color:grey;">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"  [ngStyle]="{'width': width+'%'}">
       

        {{width | number:'1.0-0'}}%
      </div>
      </div>
   </div>
    <br>
     <div class="row">
   <div class="col-md-4" style="text-align: center " >
      </div>
     </div>



